/*==Style cơ bản cho website==*/
body {
  font-family: sans-serif;
  color: #333;
}
p{
  --font-family-sans-serif: "Source Sans Pro", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
/*==Style cho menu===*/
#menu ul {
  background: rgb(52, 58, 64);
  ;
  list-style-type: none;

}

#menu li {
  color: #f1f1f1;
  display: inline-block;
  text-align: center;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}

#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}

#menu a:hover {
  background: #F1F1F1;
  color: #333;
}
*{
  box-sizing: border-box;
}

.container {
  margin: auto;
}

/* Định dạng phần tab */
div.subTab {
  display: block;
  float: left;
  width: 15%;
  height: 20%;
}

/* định dạng các thẻ a dại diện cho từng tab */
div.subTab a{
  display: block;
  background-color: inherit;
  border: 1px solid rgb(52, 58, 64);
  color: black;
  padding: 10px 15px;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Đổi màu khi tab được hover */
div.subTab a:hover {
  background-color: #F85C70;
}

/* Đổi màu khi tab được active */
div.subTab a.active {
  background-color: #F85C70;
}

/* Định dạng cho phần nội dung */
.tabcontent {
  float: inline-end;
  width: 70%;
  border-left: none;
  height: 300px;
}
.left{
  display: block;
}
button{
  width: 10% ;
  height: 7%;
  background-color: #F85C70;
  color: black;
}
img{
  width: 60%;
  height: 60%;
  object-fit: contain;
}
